<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <Loggers> <!-- Loglamanin aktiv edilme bolmesi -->
        <Root level="INFO">
            <!-- Loging options : ALL -> TRACE -> DEBUG -> INFO -> WARN -> ERROR -> FATAL ->OFF -->
            <AppenderRef ref="LogToConsole"/> <!-- Consola cixish ver -->
            <AppenderRef ref="LogToFile"/> <!-- File olaraq yadda saxla -->
        </Root>
    </Loggers>

    <Appenders>
        <Console name="LogToConsole" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="%d{HH:mm:ss} %-5level - %msg\n" /> <!-- %d{HH:mm:ss} - tarix melumati-->
            <!-- %-5level -: Mesaj seviyyesi-->
            <!-- %msg\n : Melumatlar-->
        </Console> <!-- Sout et-->

        <File name="LogToFile" fileName = "logs/app.log">
            <PatternLayout
                    pattern="%d{yyyy-MM-dd HH:mm:ss} %-5level - %msg\n" />
        </File>
    </Appenders>

</configuration>